spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/gach_dong
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
        format_sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: jungyumin041910@gmail.com
    password: vucm qptp ewdp ujbu
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  thymeleaf:
    cache: false

  redis:
    host: localhost
    port: 6379

jwt:
  secret: b6a7e5c8d2e3f4a8b9c1e2f3d4c5a6b7c8d9e0f1a2b3c4d5e6f7g8h9i0j1k2l3

logging:
  level:
    org.hibernate.SQL: debug